# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Mementorize.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Project\Mementorize\.idea\.idea.Mementorize\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
